[submodule "modules/basic"]
	path = modules/basic
	url = https://github.com/silvnvim/basic_module
[submodule "modules/eye_candy"]
	path = modules/eye_candy
	url = https://github.com/silvnvim/eye_candy_module
[submodule "modules/telescope"]
	path = modules/telescope
	url = https://github.com/silvnvim/telescope_module
[submodule "modules/no_arrow_movement"]
	path = modules/no_arrow_movement
	url = https://github.com/silvnvim/no_arrow_movement_module
[submodule "modules/better_window_management"]
	path = modules/better_window_management
	url = https://github.com/silvnvim/better_window_management_module
[submodule "modules/colorschemes"]
	path = modules/colorschemes
	url = https://github.com/silvnvim/colorschemes_module
