[submodule "modules/basic"]
	path = modules/basic
	url = https://github.com/silvnvim/basic_module
[submodule "modules/eye_candy"]
	path = modules/eye_candy
	url = https://github.com/silvnvim/eye_candy_module
[submodule "modules/telescope"]
	path = modules/telescope
	url = https://github.com/silvnvim/telescope_module
[submodule "modules/no_arrow_movement"]
	path = modules/no_arrow_movement
	url = https://github.com/silvnvim/no_arrow_movement_module
